{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

  <!-- Title -->
  <div class="container mb-4 col-6">
    <p class="h1 p-0 text-center">Dashboard</p>
  </div>

  {% include 'dashboard/status.html' %}

  <div class="row mt-4">
    <div class="col-md-7">
      <p class="h2 mb-3 text-center">Latest requests</p>
      <hr>
      <div class="card card-body">
        <a class="btn btn-primary btn-lg mb-3" href="{% url 'requests:add' %}">Create Request</a>
        <table class="table table-sm">
          <tr>
            <th>Name</th>
            <th>Est. Cost</th>
            <th>Est. Delivery</th>
            <th></th>
          </tr>

          {% for p_request in latest_requests %}
            <tr>
              <td>{{ p_request.creator_name }}</td>
              <td>€ {{ p_request.est_cost }}</td>
              <td>{{ p_request.est_delivery }}</td>
              <td>
                <div class="" id="actions">
                  <button onclick="location.href='{% url 'requestform:detail' p_request.id %}'" type="button" class="btn btn-primary btn-floating btn-sm">
                    <i class="fas fa-edit"></i>
                  </button>
                  <button onclick="location.href='{% url 'requestform:delete' p_request.id %}'" type="button" class="btn btn-danger btn-floating btn-sm">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </td>
            </tr>
          {% endfor %}

        </table>
      </div>
    </div>
    <div class="col-md-5">
      <p class="h2 mb-3 text-center">Users</p>
      <hr>
      <div class="card card-body">
        <a class="btn btn-primary btn-lg btn-block mb-3" href="">Create User</a>
        <table class="table table-sm">
          <tr>
            <th></th>
            <th>Id</th>
            <th>Display Name</th>
            <th>E-Mail</th>
          </tr>

        </table>
      </div>
    </div>
  </div>
{% endblock content %}
