<div id="datatable-custom" class="datatable-hover"></div>


<script>
  const customDatatable = document.getElementById('datatable-custom');

  const latestRequests = {
    columns: [
      { label: '{{ verbose_fields.status }}', field: 'status' },
      { label: '{{ verbose_fields.id }}', field: 'id' },
      { label: '{{ verbose_fields.creator_name }}', field: 'creator_name' },
      { label: '{{ verbose_fields.est_cost }}', field: 'est_cost' },
    ],
    rows: [
      {% for p_request in request_list %}
        {
          status        : `<span class="badge badge-{% if p_request.status == "APPROVED" %}success
                                      {% elif p_request.status == "REJECTED" %}danger
                                      {% else %}warning{% endif %} rounded-pill d-inline">{{ p_request.status }}</span>`,
          id            : {{ p_request.id }},
          creator_name  : '{{ p_request.creator_name }}',
          est_cost      : '€ {{ p_request.est_cost }}',
        },
      {% endfor %}
    ]
  }
  new mdb.Datatable(customDatatable, latestRequests)

  customDatatable.addEventListener('selectRows.mdb.datatable', (e) => {
    console.log(e.selectedRows, e.selectedIndexes, e.allSelected);
  })
</script>
