{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/status.css" %}" type="text/css" />
{% endblock %}
<br>

<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-requests">
			  	<div class="card-header">
			  		<h5 class="card-title">Total Requests</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{ total_requests }}</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="pending-requests">
			  	<div class="card-header">
			  		<h5 class="card-title">Pending Requests</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">0</h3>
			  	</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="approved-requests">
			  	<div class="card-header">
			  		<h5 class="card-title">Approved Requests</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">0</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
