<div id="actions">
  <button type="button"
          onclick="location.href='{% url 'requests:detail' p_request.id %}'"
          class="btn btn-primary btn-floating btn-sm">
    <i class="fas fa-eye"></i></button>

  <button {% if p_request.status != "PENDING" %}disabled{% endif %}
          type="button"
          class="btn btn-white btn-floating btn-sm update-request"
          data-form-url='{% url 'requests:update' p_request.id %}'>
    <i class="fas fa-edit" style="color:#1266F1"></i></button>

  <button {% if p_request.status != "PENDING" %}disabled{% endif %}
          type="button"
          class="btn btn-danger btn-floating btn-sm delete-request"
          data-form-url='{% url 'requests:delete' p_request.id %}'>
    <i class="fas fa-trash"></i></button>
</div>
