<div id="actions">
  <button type="button" onclick="location.href='{{ detail_url }}'" class="btn btn-primary btn-floating btn-sm">
    <i class="fas fa-eye"></i>
  </button>
  <button type="button" class="btn btn-white btn-floating btn-sm update-request" data-form-url='{{ edit_url }}'>
    <i class="fas fa-edit" style="color:#1266F1"></i>
  </button>
  <button type="button" class="btn btn-danger btn-floating btn-sm delete-request" data-form-url='{{ delete_url }}'>
    <i class="fas fa-trash"></i>
  </button>
</div>
