{% extends "base.html" %}

{% block content %}

  <div class="h-100 mb-4 d-flex flex-row justify-content-between align-items-center p-3">
    {# BUTTON #}
    <button id="create-request" type="button" class="btn btn-primary">Add Request</button>
    {# SWITCH DISPLAY TYPE #}
    <div class="btn-group" role="group">
      <button onclick="location.href='{% url 'requestform:list' %}'" id="list" class="btn btn-light {% if display_type == "list" %}active{% endif %}" data-mdb-color="dark"><i class="fa-solid fa-list"></i> List</button>
      <button onclick="location.href='{% url 'requestform:grid_list' %}'" id="grid" class="btn btn-light {% if display_type == "grid" %}active{% endif %}" data-mdb-color="dark"><i class="fa-solid fa-grip-vertical"></i> Grid</button>
    </div>
  </div>
  <!-- DataTable -->
  <div id="datatable-custom" class="datatable-hover w-100" data-mdb-selectable="true" data-mdb-multi="true"></div>

{% endblock content %}

{% block modal %}
  <!-- Placeholder for the modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>


  <!-- Empty toast to show the message -->
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div id="toast-body" class="toast-body"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
{% endblock %}

{% block inline_javascript %}

  {# Initializes DataTable#}
  <script>
    const customDatatable = document.getElementById('datatable-custom');

    const allRequests = {
      columns: [
        {label: '', field: 'actions', sort: false},
        {label: '{{ verbose_fields.id }}', field: 'id'},
        {label: '{{ verbose_fields.creator_name }}', field: 'creator_name'},
        {label: '{{ verbose_fields.creator_email }}', field: 'creator_email'},
        {label: '{{ verbose_fields.type }}', field: 'type'},
        {label: '{{ verbose_fields.description }}', field: 'description'},
        {label: '{{ verbose_fields.reason }}', field: 'reason'},
        {label: '{{ verbose_fields.status }}', field: 'status'},
        {label: '{{ verbose_fields.est_cost }}', field: 'est_cost'},
        {label: '{{ verbose_fields.attachment }}', field: 'attachment', sort: false},
        {label: '{{ verbose_fields.budget }}', field: 'budget'}
      ],
      rows: [
        {% for p_request in request_list %}
          {
            actions: {
              edit_url: '{% url 'requestform:update' p_request.id %}',
              delete_url: '{% url 'requestform:delete' p_request.id %}'
            },
            id: {{ p_request.id }},
            creator_name: '{{ p_request.creator_name }}',
            creator_email: '{{ p_request.creator_email }}',
            type: '{{ p_request.type }}',
            description: '{{ p_request.description }}',
            reason: '{{ p_request.reason }}',
            status: {
              approval_status: '{{ p_request.status }}',
              badge_type: {% if p_request.status == "APPROVED" %}'success'
                {% elif p_request.status == "REJECTED" %}'danger'
                {% else %}'warning'{% endif %},
            },
            est_cost: '€ {{ p_request.est_cost }}',
            est_delivery: '{{ p_request.est_delivery }}',
            attachment: '{{ p_request.attachment }}',
            budget: '{{ p_request.budget }}',
          },
        {% endfor %}
      ].map((row) => {
        return {
          ...row,
          actions: `
          <div id="actions">
            <button type="button" class="btn btn-primary btn-floating btn-sm update-request" data-form-url='${row.actions.edit_url}'>
                <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger btn-floating btn-sm delete-request" data-form-url='${row.actions.delete_url}'>
                <i class="fas fa-trash"></i>
            </button>
          </div>`,

          status: `
          <span class="badge badge-${row.status.badge_type} rounded-pill d-inline">${row.status.approval_status}</span>`,
        };
      }),
    };
    new mdb.Datatable(customDatatable, allRequests);

    customDatatable.addEventListener('selectRows.mdb.datatable', (e) => {
      console.log(e.selectedRows, e.selectedIndexes, e.allSelected);
    })
  </script>

  {# Initializes modal form #}
  <script type="text/javascript">
    $(document).ready(function() {

      $("#create-request").modalForm({
        formURL: "{% url 'requestform:add' %}",
        errorClass: ".is-invalid",
      });

      function updateRequestModalForm() {
          $(".update-request").each(function () {
            $(this).modalForm({
              formURL: $(this).data("form-url"),
            });
          });
        }
      updateRequestModalForm();

      function deleteRequestModalForm() {
          $(".delete-request").each(function () {
            $(this).modalForm({
              formURL: $(this).data("form-url"),
              isDeleteForm: true
            });
          });
        }
      deleteRequestModalForm();

    });
  </script>
{% endblock %}
