{% extends 'base.html' %}

{% block content %}
  <div class="card card-stepper border border-{% if p_request.status == "APPROVED" %}success{% elif p_request.status == "REJECTED" %}danger{% else %}warning{% endif %}" style="border-radius: 16px;">
    <div class="card-header">
      <div class="d-flex justify-content-between align-items-center">
        <div><p class="text-muted mb-0">Created <span class="fw-bold text-body">{{ p_request.created }}</span></p></div>
        <span class="badge badge-{% if p_request.status == "APPROVED" %}success{% elif p_request.status == "REJECTED" %}danger{% else %}warning{% endif %} rounded-pill d-inline">{{ p_request.status}}</span>
        <span class="fw-bold text-body">#{{ p_request.id }}</span>
      </div>
    </div>

    <div class="card-body">

      <p class="text-muted mb-2">Expected delivery: <span class="text-body">{{ p_request.est_delivery }}</span></p>
      <p class="text-muted mb-2">Estimated price: <span class="text-body">€{{ p_request.est_cost }}</span></p>
      <p class="text-muted mb-2">Type: <span class="text-body">{{ p_request.type }}</span></p>
      <p class="text-muted mb-2">Description: <span class="text-body">{{ p_request.description }}</span></p>
      <p class="text-muted mb-2">Reason: <span class="text-body">{{ p_request.reason }}</span></p>
      <p class="text-muted mb-2">Attachment: <span class="text-body">{{ p_request.attachment }}</span></p>
    </div>
    <div class="card-footer">
      {#  STEPPER  #}
      <ul class="stepper" data-mdb-stepper="stepper" data-mdb-stepper-type="vertical">
        <li class="stepper-step stepper-active">
          <div class="stepper-head">
            <span class="stepper-head-icon">1</span>
            <span class="stepper-head-text">Created</span>
          </div>
        </li>
        <li class="stepper-step">
          <div class="stepper-head">
            <span class="stepper-head-icon">2</span>
            <span class="stepper-head-text">LM/PM</span>
          </div>
        </li>
        <li class="stepper-step">
          <div class="stepper-head">
            <span class="stepper-head-icon">3</span>
            <span class="stepper-head-text">CEO</span>
          </div>
        </li>
        <li class="stepper-step">
          <div class="stepper-head">
            <span class="stepper-head-icon">3</span>
            <span class="stepper-head-text">Done</span>
          </div>
        </li>
      </ul>
    </div>
  </div>




{% endblock %}
