{% extends "base.html" %}

{% block title %}Requests List{% endblock %}

{% block content %}

  <div class="container mb-4 col-6">
    <p class="h1 p-0 text-center">Requests List</p>
  </div>

  <!-- DataTable -->
  <div id="datatable-custom" class="datatable-hover w-100" data-mdb-selectable="true" data-mdb-multi="true"></div>


  <script>
    const customDatatable = document.getElementById('datatable-custom');

    const allRequests = {
      columns: [
        {label: '', field: 'actions', sort: false},
        {label: '{{ verbose_fields.id }}', field: 'id'},
        {label: '{{ verbose_fields.creator_name }}', field: 'creator_name'},
        {label: '{{ verbose_fields.creator_email }}', field: 'creator_email'},
        {label: '{{ verbose_fields.type }}', field: 'type'},
        {label: '{{ verbose_fields.description }}', field: 'description'},
        {label: '{{ verbose_fields.reason }}', field: 'reason'},
        {label: '{{ verbose_fields.status }}', field: 'status'},
        {label: '{{ verbose_fields.est_cost }}', field: 'est_cost'},
        {label: '{{ verbose_fields.attachment }}', field: 'attachment', sort: false},
        {label: '{{ verbose_fields.budget }}', field: 'budget'}
      ],
      rows: [
        {% for p_request in request_list %}
          {
            actions: {
              edit_url: '{% url 'requestform:detail' p_request.id %}',
              delete_url: '{% url 'requestform:delete' p_request.id %}'
            },
            id: {{ p_request.id }},
            creator_name: '{{ p_request.creator_name }}',
            creator_email: '{{ p_request.creator_email }}',
            type: '{{ p_request.type }}',
            description: '{{ p_request.description }}',
            reason: '{{ p_request.reason }}',
            status: {
              approval_status: '{{ p_request.status }}',
              badge_type: {% if p_request.status == "APPROVED" %}'success'
                {% elif p_request.status == "REJECTED" %}'danger'
                {% else %}'warning'{% endif %},
            },
            est_cost: '€ {{ p_request.est_cost }}',
            est_delivery: '{{ p_request.est_delivery }}',
            attachment: '{{ p_request.attachment }}',
            budget: '{{ p_request.budget }}',
          },
        {% endfor %}
      ].map((row) => {
        return {
          ...row,
          actions: `
          <div class="" id="actions">
            <button onclick="location.href='${row.actions.edit_url}'" type="button" class="btn btn-primary btn-floating btn-sm">
                <i class="fas fa-edit"></i>
            </button>
            <button onclick="location.href='${row.actions.delete_url}'" type="button" class="btn btn-danger btn-floating btn-sm">
                <i class="fas fa-trash"></i>
            </button>
          </div>`,

          status: `
          <span class="badge badge-${row.status.badge_type} rounded-pill d-inline">${row.status.approval_status}</span>`,
        };
      }),
    };
    new mdb.Datatable(customDatatable, allRequests);

    customDatatable.addEventListener('selectRows.mdb.datatable', (e) => {
      console.log(e.selectedRows, e.selectedIndexes, e.allSelected);
    })
  </script>

{% endblock content %}
