{# TODO: Add stepper #}
<div class="container py-3">
  <div class="row">

    {% for p_request in request_list %}
      <div class="col-md-12 col-lg-6 mb-5">
        <div class="card card-stepper border border-{% if p_request.status == "APPROVED" %}success{% elif p_request.status == "REJECTED" %}danger{% else %}warning{% endif %}" style="border-radius: 16px;">
          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div><p class="text-muted mb-0">Created <span class="fw-bold text-body">{{ p_request.created }}</span></p></div>
              <span class="badge badge-{% if p_request.status == "APPROVED" %}success{% elif p_request.status == "REJECTED" %}danger{% else %}warning{% endif %} rounded-pill d-inline">{{ p_request.status}}</span>
              <span class="fw-bold text-body h4">#{{ p_request.id }}</span>
            </div>
          </div>

          <div class="card-body">

            <p class="text-muted mb-2">Expected delivery: <span class="text-body">{{ p_request.est_delivery }}</span></p>
            <p class="text-muted mb-2">Estimated price: <span class="text-body">€{{ p_request.est_cost }}</span></p>
            <div class="collapse" id="collapse{{ p_request.id }}">
              <p class="text-muted mb-2">Type: <span class="text-body">{{ p_request.type }}</span></p>
              <p class="text-muted mb-2">Description: <span class="text-body">{{ p_request.description }}</span></p>
              <p class="text-muted mb-2">Reason: <span class="text-body">{{ p_request.reason }}</span></p>
              <p class="text-muted mb-2">Attachment: <span class="text-body">{{ p_request.attachment }}</span></p>
            </div>
            <i style="cursor: pointer;" data-mdb-toggle="collapse" data-mdb-target="#collapse{{ p_request.id }}" aria-expanded="false" aria-controls="collapse{{ p_request.id }}" onClick="($(this)[0].className == 'fa-solid fa-angle-down')?$(this)[0].className='fa-solid fa-angle-up':$(this)[0].className='fa-solid fa-angle-down'" class="fa-solid fa-angle-down"></i>
          </div>
          <div class="card-footer">
            <div class="h-100 d-flex flex-row justify-content-between align-items-baseline">
              {# TODO: Create action_buttons.html #}
              {% url 'requestform:detail' p_request.pk as detail %}
              {% url 'requestform:update' p_request.pk as edit %}
              {% url 'requestform:delete' p_request.pk as delete %}
              {% include 'requestform/action_buttons.html' %}
              <p class="h5">{{ p_request.creator_name }}<i class="fa fa-user px-2" aria-hidden="true"></i></p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
