{% load static i18n %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }} - Web App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Simple web application for automating Purchase Requisitions by sending mails for requesting approval.">
  <meta name="author" content="Tanul Christian">

  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

  {% block css %}
    <!-- Latest compiled and minified Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">


    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  {% endblock %}
  <!-- Le javascript
  ================================================== -->
  {# Placed at the top of the document so pages load faster with defer #}
  {% block javascript %}
    <!-- MDB -->
    <script type="text/javascript" src="{% static 'js/mdb.min.js' %}"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <!-- Bootstrap JS -->
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js" integrity="sha512-OvBgP9A2JBgiRad/mM36mkzXSXaJE9BEIENnVEmeZdITvwT09xnxLtT4twkCa8m/loMbPHsvPl0T8lRGVBwjlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Your stuff: Third-party javascript libraries go here -->


    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>


  {% endblock javascript %}

</head>
<!--Main Navigation-->
<header>
  <!-- Navbar -->
  <nav
    id="main-navbar"
    class="navbar navbar-expand-lg navbar-light bg-white fixed-top"
  >
    <!-- Container wrapper -->
    <div class="container-fluid px-4">

      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Brand -->
        <a class="navbar-brand me-4" href="#">
          <img
            src="{% static "images/material-ui-logo.png" %}"
            height="40"
            alt=""
            loading="lazy"
          />
        </a>
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item me-2">
            <!-- Dashboard -->
            <a
              href="{% url 'dashboard' %}"
              class="nav-link {% if request.resolver_match.view_name == 'dashboard' %}active{% endif %}"
              aria-current="true"
            >
              <i class="fa-solid fa-chart-line fa-fw me-1 fa-xl"></i>Dashboard
            </a>
          </li>

          <!-- Requisitions -->
          <li class="nav-item dropdown me-2">
            <a class="nav-link dropdown-toggle {% if request.resolver_match.view_name == 'requisitions:list_my' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-sack-dollar fa-fw me-1 fa-xl"></i>Requisitions
            </a>
            <!-- Dropdown menu -->
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  aria-current="true"
                  href="{% url 'requisitions:list_my' %}"
                >My Requisitions
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item"
                  aria-current="true"
                  href="{% url 'requisitions:list_all' %}"
                >All Requisitions
                </a>
              </li>
            </ul>
          </li>

          <!-- Approval Center -->
          <li class="nav-item me-2">
            {# TODO: Make notification badge dynamic #}
            <a
              class="nav-link {% if request.resolver_match.view_name == 'requisitions:list_pending' %}active{% endif %}"
              aria-current="true"
              href="{% url 'requisitions:list_pending' %}"
            ><span class="badge rounded-pill badge-notification bg-danger">1</span><i class="fa-regular fa-circle-check me-1 fa-xl"></i><span>Approval Center</span>
            </a>
          </li>

          <!-- Users -->
          <li class="nav-item me-2">
            <a
              href="{% url 'users:list' %}"
              class="nav-link {% if 'users' in request.resolver_match.view_name %}active{% endif %}"
            ><i class="fas fa-users fa-fw me-1 fa-xl"></i><span>Users</span></a
            >
          </li>

        </ul>
        <!-- Left links -->
      </div>
      <!-- Collapsible wrapper -->

      <!-- Right links -->
      <div class="d-flex align-items-center">
        <!-- Avatar -->
        <div class="dropdown">
          <a
            class="dropdown-toggle d-flex align-items-center hidden-arrow"
            href="#"
            id="navbarDropdownMenuAvatar"
            role="button"
            data-mdb-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
              class="rounded-circle"
              height="25"
              alt="Black and White Portrait of a Man"
              loading="lazy"
            />
          </a>
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownMenuAvatar"
          >
            {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'users:detail' request.user.username %}">{% translate "My Profile" %}</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="nav-link" href="{% url 'account_logout' %}">{% translate "Sign Out" %}</a></li>
            {% else %}
              {% if ACCOUNT_ALLOW_REGISTRATION %}
                <li><a id="sign-up-link" class="nav-link" href="{% url 'account_signup' %}">{% translate "Sign Up" %}</a></li>
              {% endif %}
              <li><a id="log-in-link" class="nav-link" href="{% url 'account_login' %}">{% translate "Sign In" %}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->


<body>
    <div class="container">

      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-dismissible {% if message.tags %}alert-{{ message.tags }}{% endif %}">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}
      <main style="margin-top: 58px">
        <div class="container pt-5">
          {% block content %}

          {% endblock content %}
        </div>
      </main>
    </div> <!-- /container -->
    {% block modal %}{% endblock modal %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
