{% if request.resolver_match.view_name == 'requisitions:my_requisitions' %}
  <!-- Edit Buttons -->
  <div id="actions">
    <button {% if p_requisition.status != "PENDING" %}disabled{% endif %}
            type="button"
            class="btn btn-white btn-floating btn-sm update-requisition"
            data-form-url='{% url 'requisitions:update' p_requisition.id %}'>
      <i class="fas fa-edit" style="color:#1266F1"></i></button>

    <button {% if p_requisition.status != "PENDING" %}disabled{% endif %}
            type="button"
            class="btn btn-danger btn-floating btn-sm delete-requisition"
            data-form-url='{% url 'requisitions:delete' p_requisition.id %}'>
      <i class="fas fa-trash"></i></button>

    <button type="button"
            onclick="location.href='{% url 'requisitions:detail' p_requisition.id %}'"
            class="btn btn-primary btn-floating btn-sm">
      <i class="fas fa-eye"></i></button>
  </div>
{% elif request.resolver_match.view_name == 'requisitions:pending_requisitions' %}
  <!-- Approval Buttons -->
  <div id="actions">
    <button
      type="button"
      class="btn btn-success btn-sm btn-floating approve-requisition"
      data-form-url=''>
      <i class="fas fa-check fa-lg"></i></button>

    <button
      type="button"
      class="btn btn-danger btn-sm btn-floating reject-requisition"
      data-form-url=''>
      <i class="fas fa-close fa-lg"></i></button>

    <button type="button"
            onclick="location.href='{% url 'requisitions:detail' p_requisition.id %}'"
            class="btn btn-primary btn-floating btn-sm">
      <i class="fas fa-eye"></i></button>

  </div>
{% endif %}
