{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-header">
      <div class="h-100 d-flex flex-row justify-content-between align-items-center p-2">

        <!-- Add Requisition Button -->
        {% if request.resolver_match.view_name == 'requisitions:list_my' %}
          <button id="create-requisition"
                  type="button"
                  class="btn btn-primary">Add Requisition</button>
        {% endif %}

      </div>
    </div>
    <div class="card-body">
      <div id="datatable-custom" class="datatable-hover w-100"></div>
    </div>
  </div>
{% endblock %}

{% block modal %}
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <!-- Empty toast to show the message -->
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div id="toast-body" class="toast-body"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
{% endblock %}

{% block inline_javascript %}
  <script>
    const customDatatable = document.getElementById('datatable-custom');

    const allRequisitions = {
      columns: [
        {label: '', field: 'actions', sort: false},
        {label: '{{ verbose_fields.id }}', field: 'id'},
        {label: '{{ verbose_fields.status }}', field: 'status'},
        {label: '{{ verbose_fields.creator_name }}', field: 'creator_name'},
        {label: '{{ verbose_fields.creator_email }}', field: 'creator_email'},
        {label: '{{ verbose_fields.requisition_type }}', field: 'requisition_type'},
        {label: '{{ verbose_fields.description }}', field: 'description'},
        {label: '{{ verbose_fields.reason }}', field: 'reason'},
        {label: '{{ verbose_fields.est_cost }}', field: 'est_cost'},
        {label: '{{ verbose_fields.attachment }}', field: 'attachment', sort: false},
        {label: '{{ verbose_fields.budget }}', field: 'budget'}
      ],
      rows: [
        {% for p_requisition in requisition_list %}
          {
            actions: `{% include 'requisitionform/requisition_list/requisition_list_action_buttons.html' %}`,
            id: {{ p_requisition.id }},
            status: `<span class="badge badge-{% if p_requisition.status == "APPROVED" %}success
            {% elif p_requisition.status == "REJECTED" %}danger
            {% else %}warning{% endif %}
            rounded-pill d-inline">{{ p_requisition.status }}</span>`,
            creator_name: '{{ p_requisition.creator_name }}',
            creator_email: '{{ p_requisition.creator_email }}',
            requisition_type: '{{ p_requisition.get_requisition_type_display }}',
            {# TODO: Fix DataTable sorting for Description/Reason #}
            description: '{{ p_requisition.description }}',
            reason: '{{ p_requisition.reason }}',
            est_cost: '€ {{ p_requisition.est_cost }}',
            est_delivery: '{{ p_requisition.est_delivery }}',
            attachment: '{{ p_requisition.attachment }}',
            budget: '{{ p_requisition.budget }}',
          },
        {% endfor %}
      ],
    };

    new mdb.Datatable(customDatatable, allRequisitions);
  </script>
  <script type="text/javascript">
    $(document).ready(function() {

      $("#create-requisition").modalForm({
        formURL: "{% url 'requisitions:add' %}",
        errorClass: ".is-invalid",
      });

      function updateRequisitionModalForm() {
        $(".update-requisition").each(function () {
          $(this).modalForm({
            formURL: $(this).data("form-url"),
          });
        });
      }
      updateRequisitionModalForm();

      function deleteRequisitionModalForm() {
        $(".delete-requisition").each(function () {
          $(this).modalForm({
            formURL: $(this).data("form-url"),
            isDeleteForm: true
          });
        });
      }
      deleteRequisitionModalForm();

    });
  </script>
{% endblock %}
