{% extends "base.html" %}

{% block content %}
  <div class="card">
    <div class="card-header">
      {% include 'requisitionform/requisition_list/requisition_list_card_header.html' %}
    </div>
    <div class="card-body">
      {% if display_type == "datatable" %}
        {% include 'requisitionform/requisition_list/requisition_list_datatable_display.html' %}
      {% elif display_type == "grid" %}
        {% include 'requisitionform/requisition_list/requisition_list_grid_display.html' %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block modal %}
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>

  <!-- Empty toast to show the message -->
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div id="toast-body" class="toast-body"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
{% endblock %}

{% block inline_javascript %}
  <script type="text/javascript">
  $(document).ready(function() {

    $("#create-requisition").modalForm({
      formURL: "{% url 'requisitions:add' %}",
      errorClass: ".is-invalid",
    });

    function updateRequisitionModalForm() {
      $(".update-requisition").each(function () {
        $(this).modalForm({
          formURL: $(this).data("form-url"),
        });
      });
    }
    updateRequisitionModalForm();

    function deleteRequisitionModalForm() {
      $(".delete-requisition").each(function () {
        $(this).modalForm({
          formURL: $(this).data("form-url"),
          isDeleteForm: true
        });
      });
    }
    deleteRequisitionModalForm();

  });
</script>
{% endblock %}
