<div class="container py-3">
  <div class="row">
    {% for p_requisition in requisition_list %}
      <div class="col-md-12 col-lg-6 p-3">
        <div class="card card-stepper border border-{% if p_requisition.status == "APPROVED" %}success{% elif p_requisition.status == "REJECTED" %}danger{% else %}warning{% endif %}" style="border-radius: 16px;">

          <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
              <div><p class="text-muted mb-0">Created <span class="fw-bold text-body">{{ p_requisition.created }}</span></p></div>
              <span class="fw-bold text-body h4">#{{ p_requisition.id }}</span>
            </div>
          </div>

          <div class="card-body">

            <p class="text-muted mb-2">Expected delivery: <span class="text-body">{{ p_requisition.est_delivery }}</span></p>
            <p class="text-muted mb-2">Estimated price: <span class="text-body">€{{ p_requisition.est_cost }}</span></p>
            <div class="collapse" id="collapse{{ p_requisition.id }}">
              <p class="text-muted mb-2">Type: <span class="text-body">{{ p_requisition.type }}</span></p>
              <p class="text-muted mb-2">Description: <span class="text-body">{{ p_requisition.description }}</span></p>
              <p class="text-muted mb-2">Reason: <span class="text-body">{{ p_requisition.reason }}</span></p>
              <p class="text-muted mb-2">Attachment: <span class="text-body">{{ p_requisition.attachment }}</span></p>
            </div>
            <i style="cursor: pointer;" data-mdb-toggle="collapse" data-mdb-target="#collapse{{ p_requisition.id }}" aria-expanded="false" aria-controls="collapse{{ p_requisition.id }}" onClick="($(this)[0].className == 'fa-solid fa-angle-down')?$(this)[0].className='fa-solid fa-angle-up':$(this)[0].className='fa-solid fa-angle-down'" class="fa-solid fa-angle-down"></i>
          </div>

          <div class="card-footer">
            <div class="h-100 d-flex flex-row justify-content-between align-items-baseline">
              {% include 'requisitionform/requisition_list/requisition_list_action_buttons.html' %}
              <p class="h5">{{ p_requisition.creator_name }}<i class="fa fa-user px-2" aria-hidden="true"></i></p><span class="badge badge-{% if p_requisition.status == "APPROVED" %}success{% elif p_requisition.status == "REJECTED" %}danger{% else %}warning{% endif %} rounded-pill d-inline">{{ p_requisition.status}}</span>
            </div>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
