{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

  {% include 'dashboard/status_widget.html' %}

  <div class="row">
    <!-- LATEST REQUESTS SECTION -->
    <div class="col-xl-7 mb-4">
      <div class="card card-body">
        <h5 class="card-title text-center user-select-none">Latest</h5>
        {% include 'dashboard/latest_requisitions_widget.html' %}
      </div>
    </div>
    <!-- USERS SECTION -->
    <div class="col-xl-5 mb-4">
      <div class="card card-body">
        <h5 class="card-title text-center user-select-none">Users</h5>
        {% include 'dashboard/users_widget.html' %}
      </div>
    </div>
  </div>
{% endblock content %}

{% block modal %}
  <!-- Placeholder for the modal -->
  <div class="modal fade" tabindex="-1" role="dialog" id="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content"></div>
    </div>
  </div>


  <!-- Empty toast to show the message -->
  <div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="d-flex">
        <div id="toast-body" class="toast-body"></div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
    </div>
  </div>
{% endblock %}

{% block inline_javascript %}

{# Initializes modal form #}
  <script type="text/javascript">
    $(document).ready(function() {

      function updateRequisitionModalForm() {
        $(".update-requisition").each(function () {
          $(this).modalForm({
            formURL: $(this).data("form-url"),
          });
        });
      }
      updateRequisitionModalForm();

      function deleteRequisitionModalForm() {
        $(".delete-requisition").each(function () {
          $(this).modalForm({
            formURL: $(this).data("form-url"),
            isDeleteForm: true
          });
        });
      }
      deleteRequisitionModalForm();
    });
  </script>
{% endblock %}
