<section class="mb-4">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-xl col-sm-12 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h1>{{ total_count }}</h1>
                <p class="mb-0">Total Requisitions</p>
              </div>
              <div class="align-self-center">
                <i class="fa-solid fa-sack-dollar fa-5x user-select-none"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xl col-sm-4 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h3 class="text-success">{{ approved_count }}</h3>
                <p class="mb-0">Approved</p>
              </div>
              <div class="align-self-center">
                <i class="fa-regular fa-circle-check text-success fa-3x user-select-none"></i>
              </div>
            </div>
            <div class="px-md-1">
              <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                <div
                  class="progress-bar bg-success user-select-none"
                  role="progressbar"
                  style="width: {{ approved_percentage }}%"
                  aria-valuenow="{{ approved_percentage }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl col-sm-4 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h3 class="text-warning">{{ pending_count }}</h3>
                <p class="mb-0">Pending</p>
              </div>
              <div class="align-self-center">
                <i class="fa-regular fa-circle-question text-warning fa-3x user-select-none"></i>
              </div>
            </div>
            <div class="px-md-1">
              <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                <div
                  class="progress-bar bg-warning user-select-none"
                  role="progressbar"
                  style="width: {{ pending_percentage }}%"
                  aria-valuenow="{{ pending_percentage }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl col-sm-4 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h3 class="text-danger">{{ rejected_count }}</h3>
                <p class="mb-0">Rejected</p>
              </div>
              <div class="align-self-center">
                <i class="fa-regular fa-circle-xmark text-danger fa-3x user-select-none"></i>
              </div>
            </div>
            <div class="px-md-1">
              <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                <div
                  class="progress-bar bg-danger user-select-none"
                  role="progressbar"
                  style="width: {{ rejected_percentage }}%"
                  aria-valuenow="{{ rejected_percentage }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
