{% extends "base.html" %}

{% block title %}Users List{% endblock %}

{% block content %}
  <!-- DataTable -->
  <div id="datatable-users" class="datatable-hover w-100" data-mdb-selectable="true" data-mdb-multi="true"></div>

{% endblock content %}

{% block inline_javascript %}
  {# Initializes DataTable#}
  <script>
    const usersDatatable = document.getElementById('datatable-users');

    const users = {
      columns: [
        {label: '{{ verbose_fields.username }}', field: 'username'},
        {label: '{{ verbose_fields.email }}', field: 'email'},
        {label: '{{ verbose_fields.is_staff }}', field: 'is_staff'},
        {label: '{{ verbose_fields.date_joined }}', field: 'date_joined'},
      ],
      rows: [
        {% for user in user_list %}
          {
            username: '{{ user.username }}',
            email: '{{ user.email }}',
            is_staff: `{% if user.is_staff %}<span class="badge badge-success rounded-pill d-inline">YES</span>{% else %}<span class="badge badge-danger rounded-pill d-inline">NO</span>{% endif %}`,
            date_joined: '{{ user.date_joined }}',
          },
        {% endfor %}
      ]
    };
    new mdb.Datatable(usersDatatable, users);

    usersDatatable.addEventListener('selectRows.mdb.datatable', (e) => {
      console.log(e.selectedRows, e.selectedIndexes, e.allSelected);
    })
  </script>
{% endblock %}
